.content_company_item{
    display: flex;
    align-items: center;
        
    &_icon {
        margin-right: 12px;
        -webkit-user-drag: none;   
    }

    &_text {
        color: #F5F3EE;
        font-size: 40px;
        font-weight: 500; 
    }

    &:first-child {
        margin-bottom: 80px;
    }    
}
